:root {
    /* Colors */
    --color-primary: #201e52;
    --color-primary-light: white;
    --color-secondary: #F1EEE9;
    --color-accent: #EC994B;
    --button-hover: #c86023;
    --button-hover-blue: #030211;
    --color-neutral: #D4D4E3;

    /* Font sizes */
    --font-size-xs: 16px;
    --font-size-sm: 20px;
    --font-size-md: 24px;
    --font-size-lg: 40px;
    --font-size-xl: 64px;

    /* Font family */
    --font-family-primary: "Montagu Slab";

    /* Font weight*/
    --weight-regular: 400;
    --weight-medium: 500;
    --weight-semi-bold: 600;
    --weight-bold: 700;

    /* Borders */
    --border-sm: 1px solid white;
    --border-grey: 1px solid rgb(204, 204, 204);

    /* Radius */
    --radius-sm: 6px;
    --radius-md: 8px;
    --radius-xl: 100px;

    /* Spacing */
    --space-xxs: 4px;
    --space-xs: 12px;
    --space-sm: 16px;
    --space-md: 24px;
    --space-lg: 40px;
    --space-xl: 60px;
    --space-xxl: 100px;

    /* Shadows */
    --shadow-sm:  0 5px 10px rgba(0, 0, 0, 0.3);
    --shadow-md: 0 7px 15px rgba(0, 0, 0, 0.9);

    /* Transitions */
    --transition-fast: ease 0.15s;

    /* Min-width */
    --min--width: 300px;
}

/* BASE ET COMPOSANTS RÉUTILISABLES ----------------------------------------------------------------------------------------------*/

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    color: var(--color-primary);
    background-color: var(--color-primary);
    font-family: var(--font-family-primary);
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: var(--font-size-lg);
    font-weight: var(--weight-bold);
}

h3 {
    font-size: var(--font-size-md);
    font-weight: var(--weight-semi-bold);
}

h4 {
    font-size: var(--font-size-sm);
    font-weight: var(--weight-medium);
}

h5 {
    font-size: var(--font-size-xs);
    font-weight: var(--weight-regular);
}

h1, h2, h3, h4, h5 {
    margin-top: 0;
    margin-bottom: 0;
}

a {
    color: var(--color-primary-light);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--space-xl);
    gap: var(--space-xl);
}

/*
* buttons - boutons de la page
*
* Utilisation :
*   <div class="navbar__button buttons">
        <h5>Venez grimper</h5>
     </div>

*   <h4 class="hero-infos__buttons--full buttons">Rejoignez-nous</h4>

*   <div class="services__button buttons">
        <h4>Découvrez nos offres</h4>
   </div>

*  <h5 class="footer-form__button buttons">Obtenir une passe</h5>
*/

.buttons {
    background-color: var(--color-accent);
}

.buttons:hover {
    background-color: var(--button-hover);
    transition: var(--transition-fast);
}

/*
* a-propos, horaires, equipe, contact - sections de la page avec un fond blanc
*
* Utilisation : 
*   <section id="a-propos">
    </section>

*   <section id="horaires">
    </section>

*   <section id="equipe">
    </section>

*   <section id="contact">
    </section>

* Éléments :
* a-propos__layout : disposition de la section
* a-propos__infos : regroupement du texte et du sous-titre de la section
* horaires__layout : disposition de la section
* horaires__row : rangée d'éléments dans la section
* horaires__infos : regroupement du texte et du sous-titre de la section
* equipe__text : texte de la section
* equipe__icon : icone d'une personne
* equipe__button : bouton de la section
* contact__infos : informations de la section
* contact__form : regroupement de zone te textes à remplir
* contact__inputs : zone de texte
* contact__buttons : boutons de la section
*/

#a-propos, #horaires, #equipe, #contact {
    background-color:var(--color-primary-light)
}

/*
* temoignages, tarifs - sections de la page avec un fond beige
*
* Utilisation : 
*   <section id="temoignages">
    </section>

*   <section id="tarifs">
    </section>
*
* Éléments :
* temoignages__layout : disposition de la section
* tarifs__layout : disposition de la section
* tarifs__infos : regroupement du texte et du sous-titre de la section
*/

#temoignages, #tarifs {
    background-color: var(--color-secondary);
}

.a-propos__infos, .services__infos, .horaires__infos, .tarifs__infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-md);
}

/*
* a-propos-cards, tarifs-cards
*
* Utilisation : 
    *<div class="a-propos-cards">
                    <img src="./assets/img/placeholder.png" alt="">
                    <div class="a-propos-cards__text">
                        <h4>Notre mission</h4>
                        <h5>Fournir un environnement sûr et stimulant pour l'escalade.</h5>
                        <div class="a-propos-cards__author">
                            <img src="./assets/img/dot.svg" alt="">
                            <h5>L'équipe de l’Ascension</h5>
                        </div>
                    </div>

*   <div class="tarifs-cards">
                    <img src="./assets/img/placeholder.png" alt="">
                    <div class="tarifs-cards__text">
                        <h3 class="tarifs-cards__title">Passe mensuelle</h3>
                        <h4 class="tarifs-cards__desc">Accès illimité pour 50$.</h4>
                    </div>
                </div>
* Éléments :
* a-propos-cards__text : texte de la carte
* a-propos-cards__author : auteur du témoignage de la carte
* tarifs-cards__text : texte de la carte
*/

.a-propos-cards, .tarifs-cards {
    display: flex;
    border: var(--border-grey);
    border-radius: var(--radius-md);
    padding: var(--space-sm);
    gap: var(--space-sm);
    align-items: flex-start;
    flex: 1;
    min-width: var(--min--width);
}

.icon__background {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-neutral);
    height: 100px;
    width: 100px;
    border-radius: var(--radius-xl);
}

#equipe, #temoignages {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* HEADER ----------------------------------------------------------------------------------------------*/

header {
    position: sticky;
    top: 0;
    box-shadow: var(--shadow-sm);
    z-index: 1000;
}

/*
* navbar - barre de navigation
*
* Utilisation :
* <nav class="navbar">
            <div class="navbar__logo">
                <img src="./assets/img/logo_orange.svg" alt="" />
                <h3>Ascension</h3>
            </div>
            <div>
                <ul class="navbar__links">
                    <li><a href="#a_propos">À propos</a></li>
                    <li><a href="#services">Services</a></li>
                    <li><a href="#horaires">Horaires</a></li>
                    <li><a href="#temoignages">Témoignages</a></li>
                    <li><a href="#equipe">Équipes</a></li>
                    <li><a href="#tarifs">Tarifs</a></li>
                    <li><a href="#contact">Contact</a></li>
                </ul>
            </div>
            <div class="navbar__button buttons">
                <h5>Venez grimper</h5>
            </div>
        </nav>
*
* Éléments :
* navbar__links : liens dans le site
* navbar__logo : logo de la compagnie
* navbar__button : bouton de la navbar
*/

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-primary);
    padding: var(--space-sm) var(--space-xl);
    gap: var(--space-xs);
}

.navbar__links {
    display: flex;
    list-style: none;
    gap: var(--space-lg);
    padding-left: 0;
}

.navbar__logo {
    display: flex;
    align-items: center;
    color: var(--color-accent);
    gap: var(--space-xs);

    img {
        width: 55px;
    }
}

.navbar__button {
    padding: var(--space-xs) var(--space-md);
    border-radius: var(--radius-sm);
    flex-shrink: 0;
    transition: ease 0.1s;
}

/* HERO ----------------------------------------------------------------------------------------------*/

/*
* hero - section "hero" de la page
*
* Utilisation :
*   <section id="hero">
            <div class="hero-infos">
                <h1 class="hero-infos__title">Bienvenue à l'Ascension</h1>
                <h4 class="hero-infos__description">
                    Découvrez notre passion pour l'escalade.
                    <br>
                    Grimpez comme les pros!
                </h4>
                <div class="hero-infos__buttons">
                    <h4 class="hero-infos__buttons--empty">En savoir plus</h4>
                    <h4 class="hero-infos__buttons--full buttons">Rejoignez-nous</h4>
                </div>
            </div>

            <img src="./assets/img/logo_blanc.svg" alt="" class="hero__logo">
    </section>
*
* Éléments :
* hero__logo : logo de la compagnie
*/

#hero {
    background-image: url(../img/hero_bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100vh;
    color: var(--color-primary-light);
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    padding-bottom: var(--space-xxl);
}

/*
* hero-infos - informations se retrouvant dans la section hero
*
* Utilisation : 
*   <div class="hero-infos">
                <h1 class="hero-infos__title">Bienvenue à l'Ascension</h1>
                <h4 class="hero-infos__description">
                    Découvrez notre passion pour l'escalade.
                    <br>
                    Grimpez comme les pros!
                </h4>
                <div class="hero-infos__buttons">
                    <h4 class="hero-infos__buttons--empty">En savoir plus</h4>
                    <h4 class="hero-infos__buttons--full buttons">Rejoignez-nous</h4>
                </div>
    </div>
*
* Éléments :
* infos__title : titre de la section
* infos__description : description de la section
* infos__buttons : boutons de la sections
*
* Variantes :
* hero-infos__buttons--full : bouton orange
* hero-infos__buttons--empty : bouton sans fond
*/

.hero-infos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0;
    gap: var(--space-md);
    flex: 2;
}

.hero-infos__title {
    font-size: var(--font-size-xl);
    font-weight: var(--weight-bold);
    text-align: center;
}

.hero-infos__description {
    text-align: center;
}

.hero-infos__buttons {
    display: flex;
    gap: var(--space-xs);
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    h4 {
        padding: var(--space-xs) var(--space-lg);
        border-radius: var(--radius-md);
    }
}

.hero-infos__buttons--full {
    color: #15133C;
}

.hero-infos__buttons--empty {
    border: var(--border-sm);
    transition: var(--transition-fast);
}

.hero-infos__buttons--empty:hover {
    color: var(--color-primary-light);
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.hero__logo {
    flex-basis: 380px;
    flex-shrink: 1;
    flex-grow: 1;
    max-height: 70vh;
}

/* À PROPOS ----------------------------------------------------------------------------------------------*/

.a-propos__layout {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: var(--space-lg);
}

.a-propos-cards__text {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}

.a-propos-cards__author {
    display: flex;
    align-items: center;
    gap: var(--space-xxs);

    h5 {
        font-weight: var(--weight-medium);
    }
}

/* SERVICES ----------------------------------------------------------------------------------------------*/

.services__title {
    color: var(--color-accent);
}

.services__button {
    border-radius: var(--radius-md);
    padding: var(--space-xs) var(--space-md);
}

.services__layout {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    gap: var(--space-lg);
}

/*
* services-cards - cartes d'activités offertes
*
* Utilisation :
* <div class="services-cards">
                    <img src="./assets/img/activities_02.png" alt="">
                    <div class="services-cards__text">
                        <h3>Escalade en bloc</h3>
                        <h4>Profitez de notre espace de bloc premium.</h4>
                    </div>
    </div>
*
* Éléments :
* services-cards__text : texte de la carte
*/

.services-cards {
    display: flex;
    flex-direction: column;
    background-color: var(--color-secondary);
    border-radius: var(--radius-sm);
    width: 30%;
    transition: var(--transition-fast);
    min-width: var(--min--width);

    img {
        width: 100%;
        border-radius: var(--radius-sm) var(--radius-sm) 0 0 ;
    }
}

.services-cards:hover {
    transform: translateY(-5px);
    box-shadow: var(--shadow-md);
}

.services-cards__text {
    display: flex;
    flex-direction: column;
    gap: var(--space-xxs);
    padding: var(--space-xs);
    margin-bottom: var(--space-md);
}

/* HORAIRE ----------------------------------------------------------------------------------------------*/

.horaires__layout {
    display: flex;
    flex-direction: column;
    gap: var(--space-lg);
    align-items: center;
}

.horaires__row {
    display: flex;
    gap: var(--space-lg);
    justify-content: center;
    align-items: center;
}

/*
* horaires-cards - carte par jour de la semain
*
* Utilisation :
* <div class="horaires-cards">
                        <div class="icon__background">
                            <h2>🕒</h2>
                        </div>
                        <h3>Lundi</h3>
                        <h4>10h-22h</h4>
                    </div>
*
* Éléments :
* horaires-cards__text : texte de la carte
*/

.horaires-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-xs);
    flex: 1;
    min-width: var(--min--width);
}

/* TÉMOIGNAGES ----------------------------------------------------------------------------------------------*/

/*
* temoignage - section des témoignages de clients
*
* Utilisation :
* <section id="temoignages">
            <h2 class="temoignages-title">Témoignages</h2>

            <div class="temoignages__layout">
                <div class="temoignages-cards">
                    <div class="temoignages-cards__title">
                        <div class="temoignages-cards__icon">
                            <img src="./assets/img/person__icon.svg" alt="">
                        </div>
                        <h4>Alice</h4>
                    </div>
                    <div class="temoignages-cards__text">
                        <h5>C'est l'endroit parfait pour grimper!</h5>
                    </div>
                </div>
                <div class="temoignages-cards">
                    <div class="temoignages-cards__title">
                        <div class="temoignages-cards__icon">
                            <img src="./assets/img/person__icon.svg" alt="">
                        </div>
                        <h4>Bob</h4>
                    </div>
                    <div class="temoignages-cards__text">
                        <h5>Ambiance incroyable et super équipe!</h5>
                    </div>
                </div>
            </div>
        </section>
* Éléments :
* temoignages__title : titre de la section
* temoignages__layout : disposition de la section
*/

#temoignages {
    gap: var(--space-xxl);
}

.temoignages__title {
    color: var(--color-accent);
}

.temoignages__layout {
    display: flex;
    flex-wrap: wrap;
    gap: var(--space-lg);
}

/*
* temoignages-cards - cartes des témoignages
*
* Utilisation :
* <div class="temoignages-cards">
                    <div class="temoignages-cards__title">
                        <div class="temoignages-cards__icon">
                            <img src="./assets/img/person__icon.svg" alt="">
                        </div>
                        <h4>Alice</h4>
                    </div>
*
* Éléments :
* temoignages-cards__title : titre des cartes (nom de de la personne)
* temoignages-cards__icon : icône d'une personne
*/

.temoignages-cards {
    display: flex;
    flex-direction: column;
    background-color: var(--color-neutral);
    gap: var(--space-sm);
    padding: var(--space-sm);
    border-radius: var(--radius-md);
    flex: 1;
    min-width: var(--min--width);
}

.temoignages-cards__title {
    display: flex;
    align-items: center;
    gap: var(--space-xs); 
}

.temoignages-cards__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-primary-light);
    height: 32px;
    width: 32px;
    border-radius: var(--radius-xl);
}
/* ÉQUIPE ----------------------------------------------------------------------------------------------*/

.equipe__text {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
}

.equipe__icon {
    width: 70%;
}

.equipe__button {
    color: var(--color-primary-light);
    background-color: var(--color-primary);
    border-radius: var(--radius-md);
    padding: var(--space-sm) var(--space-md);
    transition: var(--transition-fast);
}

.equipe__button:hover {
    background-color: var(--button-hover-blue);
}

/* TARIFICATIONS ----------------------------------------------------------------------------------------------*/

.tarifs__layout {
    display: flex;
    gap: var(--space-lg);
    flex-wrap: wrap;
}

/*
* tarifs-cards - cartes des différentes offres de prix
*
* Utilisation :
* <div class="tarifs-cards">
                    <img src="./assets/img/placeholder.png" alt="">
                    <div class="tarifs-cards__text">
                        <h3 class="tarifs-cards__title">Passe mensuelle</h3>
                        <h4 class="tarifs-cards__desc">Accès illimité pour 50$.</h4>
                    </div>
                </div>
*
* Éléments :
* tarifs-cards__text : texte de la carte
*/

.tarifs-cards {
    background-color: var(--color-primary-light);

}

.tarifs-cards__text {
    display: flex;
    flex-direction: column;
}

/* CONTACT ----------------------------------------------------------------------------------------------*/

/*
* contact - section pour contacter la compagnie
*
* Utilisation :
* <section id="contact">
            <h2>Contactez-nous</h2>
            <div class="contact__infos">
                <form class="contact__form">
                    <div class="contact__inputs">
                        <label for="nom">
                            <h5>Nom</h5>
                        </label>
                        <input type="text" name="nom">
                    </div>

                    <div class="contact__inputs">
                        <label for="email">
                            <h5>Email</h5>
                        </label>
                        <input type="text" name="email">
                    </div>

                    <div class="contact__inputs">
                        <label for="message">
                            <h5>Message</h5>
                        </label>
                        <input type="text" name="message">
                    </div>
                </form>
                <h4 class="contact__button">Envoyer</h4>
            </div>

        </section>

* Éléments :
* contact__infos : éléments de la section, sans le titre
* contact__form : regroupement des zones de texte
* contact__inputs : zone de texte pour entrer ses informations personelles
* contact__button : boutton de la section
*/

#contact {
    align-items: center;
}

.contact__infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-lg);
    width: 100%;
}
.contact__form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--space-xl);
    width: 100%;
}

.contact__inputs {
    display: flex;
    flex-direction: column;
    width: 25%;
    gap: var(--space-xxs);

    input {
        padding: var(--space-xxs);
        border-radius: var(--radius-sm);
        border: var(--border-grey);
    }
}

.contact__button {
    color: var(--color-primary-light);
    background-color: var(--color-primary);
    padding: var(--space-xs) var(--space-xxl);
    border-radius: var(--radius-md);
    transition: var(--transition-fast);
}

.contact__button:hover {
    background-color: var(--button-hover-blue);
}

/* FOOTER ----------------------------------------------------------------------------------------------*/

/*
* footer - footer de la page
*
* Utilisation :
* <footer>
        <nav class="footer__nav">
            <ul class="footer__links">
                <li><a href="#a_propos">À propos</a></li>
                <li><a href="#tarifs">Tarifs</a></li>
                <li><a href="#horaires">Horaires</a></li>
                <li><a href="#contact">Nous contactez</a></li>
                <li><a href="">Suivez-nous sur les réseaux sociaux!</a></li>
                <li>
                    <div class="footer-form">
                        <h4>Venez grimper!</h4>
                        <h5 class="footer-form__button buttons">Obtenir une passe</h5>
                    </div>
                </li>
            </ul>
        </nav>
    </footer>
*
* Éléments :
* footer__links : lien des sections de la page
*/

footer {
    background-color: var(--color-primary);
    color: var(--color-primary-light);
    padding: var(--space-md);
}

.footer__links {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: var(--space-xxl);
    padding-left: 0;
}

/*
* footer-form - section avec un bouton pour obtenir une passe
*
* Utilisation :
* <div class="footer-form">
                        <h4>Venez grimper!</h4>
                        <h5 class="footer-form__button buttons">Obtenir une passe</h5>
                    </div>
*
* Éléments :
* footer-form__button : bouton de la section
*/

.footer-form {
    background-color: var(--color-secondary);
    color: #15133C;
    display: flex;
    flex-direction: column;
    padding: var(--space-sm);
    align-items: center;
    gap: var(--space-xs);
    border-radius: var(--radius-md);
}

.footer-form__button {
    padding: var(--space-sm);
    border-radius: var(--radius-sm);
}
/*----------------------------------------------------------------------------------------------*/
